<h1>Movie Lists</h1>

<% @lists.each do |list| %>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key %>)">
    <%= list.name %>
    </div>
  </div>
<% end %>






<%= link_to "Create a new list", new_list_path %>
