<h1>Movie Lists</h1>


<% @lists.each do |list| %>
 <h2><%= list.name %></h2>
  <% if list.photo.attached? %>
      <%= image_tag url_for(list.photo), alt: "Photo of #{list.name}", class: "list-photo" %>
    <% else %>
      <p>No photo available</p>
    <% end %>
<% end %>
